i{
  "branches": ["master"],
  repositoryUrl: "https://baltig.infn.it/infn-cloud/tosca-types.git",
  "gitlabUrl": "https://baltig.infn.it",
  "plugins": [
    [ "@semantic-release/commit-analyzer", {
        "preset": "eslint"
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "eslint"
      }
    ],
    [ "@semantic-release/changelog",
    {
        "changelogFile": "CHANGELOG.md"
    }],
   ["@semantic-release/exec", {
      "prepareCmd": "./.githooks/bin/prepare.sh ${nextRelease.version}"
   }],
   [ "@semantic-release/gitlab",
   {
        "assets": ["CHANGELOG.md"]
    }]
  ],
  "dryRun": false
}
